@charset "utf-8";
@import "bulma";
@import "~bulma-accordion/src/sass/index.sass";
@import "~bulma-carousel/src/sass/index.sass";

.box{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap
}
.material-icons{
  font-size: 2.4em;
  cursor: pointer;
}
.card{
  width: 300px;
}
.card .card-image .card-title{
  color: black;
  font-weight: 400
}
.cart{
  margin-top:40px;
}
.collection .collection-item{
  display: flex;
}
.collection-item.avatar .title {
  font-size: 20px;
  font-weight: 500;
  color: #ee6e73;
  display: block;
  margin-bottom: 20px;
  
}
.collection .collection-item img{
  width: 150px;
  margin-right: 25px;
}
.item-desc{
  align-self:center;
}

.sneakerPhoto {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.sneakerPhoto img {
  /* height: 100px;
  width: 100%; */
  object-fit: contain
}

.sneakerName {
  margin-right: 0px;
  margin-bottom: 0px;
}

.cart-item {
  justify-content: space-around
}

.rotationButton {
  height: 48px
}

.filterBar {
  position: -webkit-sticky;
  position: sticky;
  top: 5.5rem;
}

input[type="checkbox"] {
  margin-right: 5px;
}

.sizeButtons {
  padding: 16px 20px
}

.sneakerCardHolder {
  display: block;
}

.hero {
  margin-top: 56px;
}

.has-bg-img {
  background: linear-gradient(rgba(0, 0, 0, 0.498039), rgba(0, 0, 0, 0.498039)), url('./components/images/blog-images/best-sneaker-apps.jpg'); 
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment: fixed; 
  background-position: center;
}

.homeBanner {
  width: 50%;
}

.homeBanner > h1 {
  color: white;
}

.topSpace {
  margin-top: 1.5rem
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 2rem;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem;            /* Footer height */
}

.newsCard {
  width: 410px
}